body{
	background-color: #9c9f84;
	margin: 0px;
	font-family: verdana, Gorgia, Serief;
	font-size: 14px;
	font-style: inherit;
}
#header{
	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;

}
#nav1 ul{
	background-color: #000;
	list-style-type: none;
	text-align: center;
	margin: 10px;
	height: 35px;
	border-radius: 5px;
		 
}
#nav1 ul li{
	display: inline;
}
#nav1 ul li a{
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;

}
#nav1 ul li a:hover{
	color: #000;
	background-color: #fff;
}

.sideright{
	background-color: #e5e4d7;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	font-size: 105%;
	float: right;
	width: 260px;	
	clear: right; 
}
.imagesidebar{
	
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	float: right;
	width: 260px;	
	clear: right; 
	opacity: 0.4;
	transition: opacity 0.5s ease-in-out;
}
.imagesidebar:hover{
	opacity: 1.0;
}

h1{
	font-size: 120%;
	color: #ce282e;
	text-transform: uppercase;
}
h2{
	font-size: 109%;
	color: darkblue;
}
h3{
	font-size: 250%;
	text-align: center;
	color: darkblue;
	font-family: sans-serif,monospace;
	margin: 0px;
	position: relative;

}
#footer{
	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
	clear: both;
	color: #efe5d0;
	padding: 15px;
	text-align: center;
	font-size: 90%;

}
#footer ul{
	/*background-color: #000;*/
	list-style-type: none;
	text-align: center;
	margin: 10px;
	height: 35px;
	border-radius: 5px;
		 
}
#footer ul li{
	display: inline;
}
#footer ul li a{
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: #fff;
	/*background-color: #000;*/

}
#footer ul li a:hover{
	color: #000;
	background-color: #fff;
}